/*img:hover{
    /*animation:shake 0.5s;
     animation-iteration-count: infinite;*/

/* transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
/*}*/
